.k-widget *, .k-widget *:before, .k-widget *:after {
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
}
.k-window {
	font-family: Tahoma, Verdana;
	font-size: 13px;
	background: #c0c0c0 url(/assets/images/resize.png) no-repeat bottom right;;
	border: 1px solid;
	border-top-color: #dfdfdf;
	border-left-color: #dfdfdf;
	border-right-color: #000;
	border-bottom-color: #000;
	resize: both;

	& &-titlebar{
		padding: 0;
		height: 23px;
		font-weight: bold;
		font-size: 11px;
		line-height: 16px;
		color: #fff;
		background: linear-gradient(to right, #000080, #1084d0);
		border: 1px solid;
		border-top-color: #fff;
		border-left-color: #fff;
		border-right-color: #808080;
		border-bottom: 0;

		& .k-window-actions {
			padding: 2px;
		}

		& .k-window-action {
			margin: 0 0 0 3px;
			padding: 0;
			width: 15px;
			height: 15px;
			font-size: 11px;
			font-family: Tahoma, Verdana;
			text-align: center;
			color: #070707;
			background: #bfbfbf;
			border: 1px solid;
			border-top-color: #dfdfdf;
			border-left-color: #dfdfdf;
			border-right-color: #808080;
			border-bottom-color: #808080;
			box-shadow: 1px 1px 0 0 rgba(0,0,0,.6);
			outline: none;
			opacity: 1;

			&:active {
				box-shadow: 0 0 0 0 #000 inset;
				border-top-color: #000;
				border-left-color: #000;
				border-right-color: #000;
				border-bottom-color: #000;
			}
		}
	}

	& &-title {
		left: 0;
		padding: 2px 0 2px 2px;
		width: 100%;
		border: 2px solid #c0c0c0;
		border-bottom: 0;
	}

	& &-content{
		padding: 7px 10px;
		height: 100%;
		border: 1px solid;
		border-top: 0;
		border-left-color: #fff;
		border-right-color: #808080;
		border-bottom-color: #808080;
	}

	& .k-icon {
		width: 15px;
		height: 15px;
	}

	& .k-i-maximize {
		background: url(/assets/images/maximize.png) no-repeat 2px 2px;
		background-size: 10px;
	}


	& .k-i-minimize {
		background: url(/assets/images/minimize.png) no-repeat 2px 9px;
		background-size: 8px;
	}

	& .k-i-close {
		background: url(/assets/images/close.png) no-repeat 3px 3px;
		background-size: 8px;
	}
}