.terminal {

	&.terminal--main {
		height: 100%;
		background-color: transparent;
	}

	.cmd {
		background-color: transparent;

		.cursor.blink {
			color: transparent;
			-webkit-animation: blink2 1s infinite steps(1, start);
			   -moz-animation: blink2 1s infinite steps(1, start);
			    -ms-animation: blink2 1s infinite steps(1, start);
			        animation: blink2 1s infinite steps(1, start);
		}

	}
}

@keyframes blink2 {
  0%, 100% {
        background-color: transparent;
        color: #aaa;
  }
  50% {
        background-color: #bbb; /* not #aaa because it's seem there is Google Chrome bug */
        color: transparent;
  }
}
@-webkit-keyframes blink2 {
  0%, 100% {
        background-color: transparent;
        color: #aaa;
  }
  50% {
        background-color: #bbb;
        color: transparent;
  }
}
@-ms-keyframes blink2 {
  0%, 100% {
        background-color: transparent;
        color: #aaa;
  }
  50% {
        background-color: #bbb;
        color: transparent;
  }
}
@-moz-keyframes blink2 {
  0%, 100% {
        background-color: transparent;
        color: #aaa;
  }
  50% {
        background-color: #bbb;
        color: transparent;
  }
}