.terminal {

	&.terminal--main {
		height: 100%;
		font-family: 'FixedsysExcelsior301Regular',  ;
		font-size: 16px;
		line-height: 15px;
		background-color: transparent;
		text-shadow: rgba(#aaa,.25) 0 0 10px;
	}

	.cmd {
		font-family: 'FixedsysExcelsior301Regular', ;
		font-size: 16px;
		line-height: 15px;
		background-color: transparent;

		.prompt { line-height: 15px; }

		.cursor.blink {
			color: transparent;
			-webkit-animation: blink2 1s infinite steps(1, start);
			   -moz-animation: blink2 1s infinite steps(1, start);
			    -ms-animation: blink2 1s infinite steps(1, start);
			        animation: blink2 1s infinite steps(1, start);
		}

	}
}

@keyframes blink2 {
  0%, 100% {
        background-color: transparent;
        color: #aaa;
  }
  50% {
        background-color: #bbb; /* not #aaa because it's seem there is Google Chrome bug */
        color: transparent;
  }
}
@-webkit-keyframes blink2 {
  0%, 100% {
        background-color: transparent;
        color: #aaa;
  }
  50% {
        background-color: #bbb;
        color: transparent;
  }
}
@-ms-keyframes blink2 {
  0%, 100% {
        background-color: transparent;
        color: #aaa;
  }
  50% {
        background-color: #bbb;
        color: transparent;
  }
}
@-moz-keyframes blink2 {
  0%, 100% {
        background-color: transparent;
        color: #aaa;
  }
  50% {
        background-color: #bbb;
        color: transparent;
  }
}